<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="regUserName" value="8122168871" />
	<parameter name="regPassword" value="Intel@123" />
	<parameter name="searchText" value="Mobile Phone" />
	<parameter name="Sheetname" value="productNameWithPrice" />
	<parameter name="path" value=".\\src\\test\\resources\\Testfolder\\Output.xlsx" />
	<parameter name="productSearch" value="iPhone 12" />
	<parameter name="desiredProduct" value="APPLE iPhone 12 (White, 64 GB)" />
	<parameter name="name" value="Ajinesh" />
	<parameter name="phoneNumber" value="9988776655" />
	<parameter name="pincode" value="560049" />
	<parameter name="area" value="KR Puram" />
	<parameter name="address" value="202,IJ Acacia Apartments, Seegehalli" />
	<listeners>
		<listener class-name="Project.E_Commerce.Listeners"></listener>
	</listeners>

	<test thread-count="5" name="Test" />
	<test name="Project.E_Commerce">
		<classes>
			<class name="Project.E_Commerce.ProductDetails" />
		</classes>
	</test>
</suite> <!-- Suite -->